<nav id="main-nav">
  <div class="topline"></div>
  <div class="topUl bgc-w">
    <ul>
      <li><a href="#">ENGLISH</a></li>
      <li><a>│</a></li>
      <li><a href="#">投顧</a></li>
      <li><a>│</a></li>
      <li><a href="#">權證</a></li>
      <li><a>│</a></li>
      <li><a href="#">海外市場</a></li>
      <li><a>│</a></li>
      <li><a href="#">財富管理</a></li>
      <li><a>│</a></li>
      <li><a href="#">期貨</a></li>
      <li><a>│</a></li>
      <li><a href="#">證券</a></li>
    </ul>
  </div>
  <div class="bgc-w">
    <img src="https://vmjsweb.jihsun.com.tw/images/logo.png">
  </div>
  <div id="main-topbar" class="topBar">
    <div class="content">
      <ul id="menu">
        <li><a>股市\f107</a></li>
        <li><a>456</a></li>
        <li><a id="li-count">789</a></li>
        <li><a id="jsScrollTop">0</a></li>
        <li><a id="jsScrollTop2">0</a></li>
      </ul>
    </div>
  </div>
  <div class="test"></div>
</nav>
